
.titulo{
    text-align: center;
    margin-top: 20px;
}
h1{
    margin-top: 10px;
    font-size: 4.9em;
    color: yellow;
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0)    
}
.titulo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 170px;
}
.sub-titulo{
    margin: 0;
    color: rgb(255, 0, 0);
    text-shadow: none ;
    font-size: 0.8em;
    margin-bottom: 10px;
    text-shadow: 0 0 0.2em rgb(248, 248, 248), 0 0 0.2em rgb(255, 253, 253)
}

.titulo-a{
    margin-top: 25px;
}
.titulo-b{
    margin-top: 90px;
}
.aba-descricao{
    height: 250px;
    margin-top: 40PX;
    
}
h2{
    font-size: 2.5em;  
}
.principal{
    margin:0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aba-item{   /*-------- ABA DE CADA AREA-----*/
    width: 370px;
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item{

    text-align: center;
    width: 75px;
    height: 62px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 black;
    padding: 7px 5px;
    border:solid black 1px;
    margin: 5px; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aba-a, .aba-c,.aba-b{
    padding:0px 20px;
    width: 360px;
    height: 545px;
}

.tipoAreas{
    margin-top: 5px;
    height: 180px;
}


.fontBold{
    font-weight: bold;
    background-color: black;
}


.cod-intern{
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(4, 0, 56);
    font-weight: 700;
    font-size: 1.2em;
    
}
.v220{
    color: red;
    font-weight: 900;
}


.item:hover{
    background-color: yellow;
    box-shadow: 0px 0px 10px 5px yellow;
    color: black;

}


.abas ul{    
    margin-bottom: 40px;
    border-radius: 20px;
}





/*-------------------------------------------------------------------------------------------CORES-----*/

.linhab{
    font-weight: 700;
    background: rgb(223, 131, 251);
    font-size: 111%;
}
.gas{
    font-weight: bold;
    background-color: aquamarine;
    font-size: 120%;

}
.motor{
    color: #ffffff;
    background-color: rgb(29, 28, 28);
    font-size: 112%;
}
.comercial{
    font-size: 112%;
    font-weight: bold;
    background-color: #567882;
}
.suportes{
    font-weight: bold;
    background-color:  #9ee0ca;
    font-size: 117%;
}
.lata{
    font-weight: bold;
    background-color:  #60a991;
}
.electrolux{
    background-color:  #375047;
}
    

/*----------------------------------------------------------------------------------CORES BOTIJAS-----*/

.botijas-tipo{
    display: flex;
  }
  
  .gasr410{
      background-color: rgb(245, 61, 162);
  }
  
  .gasr404{
      background-color: orangered;
  }
  .gasr22{    
      background-color: rgb(0, 119, 0);
  }
  .gasr134{
      background-color: rgb(35, 245, 245);

  }

/*-----------------------------------------------------------------------------------aba-descricoes----*/
.promocao{
    color: red;
    background-color: yellow;
    border-radius: 10px;
    padding: 3px;
}

.pascoa{ 
    background-color: rgb(30, 255, 0);
    /* box-shadow: 0 0 0.2em rgb(250, 249, 249),0 0 1em rgb(255, 255, 255); */
    border: solid rgb(0, 0, 0) 2px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.yellow{
    background-color: rgb(251, 255, 0);
    /* box-shadow: 0 0 0.2em rgb(250, 249, 249),0 0 1em rgb(255, 255, 255); */
    border: solid rgb(0, 0, 0) 2px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}



.titulo-principal1{
 display: none;
}


/*----------------------------------------------------------------------------------------RESPOSTAS----*/
.desc-item{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-promocao{
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 41, 123);
    text-shadow: 0 0 0.2em rgb(118, 189, 255), 0 0 0.2em rgb(0, 0, 0)
    
}
.data-final{
    text-align: center; 

}
.dtcor{
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0)    
}
.titulo-secundario{
    margin-top: 90px;
}

#descontocompressor{
    margin:25px 0px;
    width: 305px;
    text-align: left;
    background-color: #2ab0e9;
    font-size: 15px;
    font-weight: 900;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}

#descontocompressor input{
   width:100px;
   font-size: 20px;
   border-radius: 5PX;
}
.titulodesconto{
    margin-bottom: 10px;
    text-align: center;
}

#descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    min-height: 100px;
    margin: auto;
    margin-top: 160PX;   
    background-color: #ffffff;
    font-size: 14px;
    border-Radius: 10px;
    border: "solid black 2px";
    font-Weight: 700;
    padding: 15px 0px;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
  
}