@media (max-width: 576px) {
    
    .principal{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .aba-a, .aba-c{
        width: 321px;
        height: 710px;
        justify-content: flex-start;
    }

    .aba-b{
        width: 321px;
        height: 280px;
    }
    .titulo-principal{
        display: none;
    }

    .tipoAreas{
        margin-bottom: 150px ;
    }

    .aba-item{
        width: 321px;
        flex-wrap: wrap;
    }

    #descricao{
        border: solid 2px blue;
        width: 290px;
      
    }
    .titulo-principal1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titulo-principal1 img, .titulo-secundario{
        display: none;
    }
}

