
@media (max-width: 576px) {
    
    .principal{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .aba-a, .aba-c{
        width: 321px;
        height: 820px;
        justify-content: flex-start;
  
    }

    .aba-b{
        width: 321px;
        height: 280px;
    }
    .titulo-principal{
        display: none;
    }

    .tipoAreas{
        margin-bottom: 150px ;
    }

    .aba-item{
        width: 321px;
        flex-wrap: wrap;
    }

    #descricao{
        border: solid 2px blue;
        width: 280px;
        font-size: 14px;
        margin-top: 70PX;   
      
    }
    .titulo-principal1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titulo-principal1 img, .titulo-secundario{
        display: none;
    }
    .catalagos{
       
        margin: auto;
        width: 240px;
        display: flex;
        flex-wrap: wrap;
    }
    .catalagos a {
        margin: 8px 2px;
        font-size: 15px;
        width: 105px;
        display: flex;
        justify-content: center;
    }
}

